In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('Train_pjb2QcD.csv')
df.head()

,ID,Office_PIN,Applicant_City_PIN,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,FIN1000001,842001,844120,M,M,Others,Graduate,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,FIN1000002,842001,844111,M,S,Others,Class XII,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,FIN1000003,800001,844101,M,M,Business,Class XII,Level 1,Level 1,2.0,Confirmation,M,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,FIN1000004,814112,814112,M,S,Salaried,Class XII,Level 1,Level 3,4.0,Confirmation,F,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,FIN1000005,814112,815351,M,M,Others,Class XII,Level 1,Level 1,2.0,Confirmation,M,2.0,1.0,230402.0,17.0,230402.0,17.0,0

In [4]:
df.shape

(8844, 19)

In [5]:
df.isnull().sum()

ID                                0
Office_PIN                        0
Applicant_City_PIN                0
Applicant_Gender                 53
Applicant_Marital_Status         59
Applicant_Occupation           1090
Applicant_Qualification          71
Manager_Joining_Designation       0
Manager_Current_Designation       0
Manager_Grade                     0
Manager_Status                    0
Manager_Gender                    0
Manager_Num_Application           0
Manager_Num_Coded                 0
Manager_Business                  0
Manager_Num_Products              0
Manager_Business2                 0
Manager_Num_Products2             0
Business_Sourced                  0
dtype: int64

In [6]:
df['Applicant_Gender'].mode()

0    M
dtype: object

In [7]:
df['Applicant_Gender'].fillna(value='M', inplace=True)

In [9]:
df['Applicant_Marital_Status'].value_counts()

M    5733
S    3042
W       6
D       4
Name: Applicant_Marital_Status, dtype: int64

In [10]:
df['Applicant_Marital_Status'].mode()

0    M
dtype: object

In [11]:
df['Applicant_Marital_Status'].fillna(value='M', inplace=True)

In [12]:
df['Applicant_Occupation'].value_counts()

Salaried         3546
Business         2157
Others           1809
Self Employed     146
Student            96
Name: Applicant_Occupation, dtype: int64

In [13]:
df['Applicant_Occupation'].fillna(value='Salaried', inplace=True)

In [14]:
df['Applicant_Qualification'].value_counts()

Class XII                                                           5426
Graduate                                                            2958
Class X                                                              195
Others                                                               116
Masters of Business Administration                                    71
Associate / Fellow of Institute of Chartered Accountans of India       3
Associate/Fellow of Insurance Institute of India                       1
Professional Qualification in Marketing                                1
Associate/Fellow of Acturial Society of India                          1
Associate/Fellow of Institute of Company Secretories of India          1
Name: Applicant_Qualification, dtype: int64

In [15]:
df['Applicant_Qualification'].fillna(value='Class XII', inplace=True)

In [16]:
df.isnull().sum()

ID                             0
Office_PIN                     0
Applicant_City_PIN             0
Applicant_Gender               0
Applicant_Marital_Status       0
Applicant_Occupation           0
Applicant_Qualification        0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_Status                 0
Manager_Gender                 0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
dtype: int64

In [17]:
df.dtypes

ID                              object
Office_PIN                       int64
Applicant_City_PIN               int64
Applicant_Gender                object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [20]:
temp=pd.DataFrame(index=df.columns)
temp['null'] = df.isnull().sum()
temp['unique'] = df.nunique()
temp['data'] = df.dtypes
temp.head()

                          null  unique    data
ID                           0    8844  object
Office_PIN                   0      98   int64
Applicant_City_PIN           0    2858   int64
Applicant_Gender             0       2  object
Applicant_Marital_Status     0       4  object

In [21]:
temp

                             null  unique     data
ID                              0    8844   object
Office_PIN                      0      98    int64
Applicant_City_PIN              0    2858    int64
Applicant_Gender                0       2   object
Applicant_Marital_Status        0       4   object
Applicant_Occupation            0       5   object
Applicant_Qualification         0      10   object
Manager_Joining_Designation     0       8   object
Manager_Current_Designation     0       5   object
Manager_Grade                   0      10  float64
Manager_Status                  0       2   object
Manager_Gender                  0       2   object
Manager_Num_Application         0      17  float64
Manager_Num_Coded               0      10  float64
Manager_Business                0    3747  float64
Manager_Num_Products            0      57  float64
Manager_Business2               0    3743  float64
Manager_Num_Products2           0      57  float64
Business_Sourced                0       2    int64

In [22]:
df = df.drop(['ID'], axis=1)

In [23]:
df.columns

Index(['Office_PIN', 'Applicant_City_PIN', 'Applicant_Gender',
       'Applicant_Marital_Status', 'Applicant_Occupation',
       'Applicant_Qualification', 'Manager_Joining_Designation',
       'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status',
       'Manager_Gender', 'Manager_Num_Application', 'Manager_Num_Coded',
       'Manager_Business', 'Manager_Num_Products', 'Manager_Business2',
       'Manager_Num_Products2', 'Business_Sourced'],
      dtype='object')

In [26]:
cols = ['Applicant_Gender',
       'Applicant_Marital_Status', 'Applicant_Occupation',
       'Applicant_Qualification', 'Manager_Joining_Designation',
       'Manager_Current_Designation','Manager_Status',
       'Manager_Gender']
for i in (cols):
    print("-------"+i+'----------')
    print(df[i].value_counts())
    print()

-------Applicant_Gender----------
M    6709
F    2135
Name: Applicant_Gender, dtype: int64

-------Applicant_Marital_Status----------
M    5792
S    3042
W       6
D       4
Name: Applicant_Marital_Status, dtype: int64

-------Applicant_Occupation----------
Salaried         4636
Business         2157
Others           1809
Self Employed     146
Student            96
Name: Applicant_Occupation, dtype: int64

-------Applicant_Qualification----------
Class XII                                                           5497
Graduate                                                            2958
Class X                                                              195
Others                                                               116
Masters of Business Administration                                    71
Associate / Fellow of Institute of Chartered Accountans of India       3
Associate/Fellow of Insurance Institute of India                       1
Professional Qualification in Marketing                                1
Associate/Fellow of Acturial Society of India                          1
Associate/Fellow of Institute of Company Secretories of India          1
Name: Applicant_Qualification, dtype: int64

-------Manager_Joining_Designation----------
Level 1    4632
Level 2    2787
Level 3    1146
Level 4     200
Other        58
Level 6      18
Level 7       2
Level 5       1
Name: Manager_Joining_Designation, dtype: int64

-------Manager_Current_Designation----------
Level 2    3208
Level 1    2479
Level 3    2033
Level 4    1031
Level 5      93
Name: Manager_Current_Designation, dtype: int64

-------Manager_Status----------
Confirmation    5277
Probation       3567
Name: Manager_Status, dtype: int64

-------Manager_Gender----------
M    7627
F    1217
Name: Manager_Gender, dtype: int64

In [28]:
data = pd.get_dummies(df)
data.head()

,Office_PIN,Applicant_City_PIN,Manager_Grade,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced,...,Manager_Joining_Designation_Other,Manager_Current_Designation_Level 1,Manager_Current_Designation_Level 2,Manager_Current_Designation_Level 3,Manager_Current_Designation_Level 4,Manager_Current_Designation_Level 5,Manager_Status_Confirmation,Manager_Status_Probation,Manager_Gender_F,Manager_Gender_M
0,842001,844120,3.0,2.0,1.0,335249.0,28.0,335249.0,28.0,0,...,0,0,1,0,0,0,1,0,0,1
1,842001,844111,3.0,2.0,1.0,335249.0,28.0,335249.0,28.0,1,...,0,0,1,0,0,0,1,0,0,1
2,800001,844101,2.0,0.0,0.0,357184.0,24.0,357184.0,24.0,0,...,0,1,0,0,0,0,1,0,0,1
3,814112,814112,4.0,0.0,0.0,318356.0,22.0,318356.0,22.0,0,...,0,0,0,1,0,0,1,0,1,0
4,814112,815351,2.0,2.0,1.0,230402.0,17.0,230402.0,17.0,0,...,0,1,0,0,0,0,1,0,0,1

In [29]:
data.shape

(8844, 48)

In [30]:
## segregation of the data

In [31]:
x = data.drop(['Business_Sourced'], axis=1)
y = data['Business_Sourced']

In [32]:
x.head()

,Office_PIN,Applicant_City_PIN,Manager_Grade,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Applicant_Gender_F,...,Manager_Joining_Designation_Other,Manager_Current_Designation_Level 1,Manager_Current_Designation_Level 2,Manager_Current_Designation_Level 3,Manager_Current_Designation_Level 4,Manager_Current_Designation_Level 5,Manager_Status_Confirmation,Manager_Status_Probation,Manager_Gender_F,Manager_Gender_M
0,842001,844120,3.0,2.0,1.0,335249.0,28.0,335249.0,28.0,0,...,0,0,1,0,0,0,1,0,0,1
1,842001,844111,3.0,2.0,1.0,335249.0,28.0,335249.0,28.0,0,...,0,0,1,0,0,0,1,0,0,1
2,800001,844101,2.0,0.0,0.0,357184.0,24.0,357184.0,24.0,0,...,0,1,0,0,0,0,1,0,0,1
3,814112,814112,4.0,0.0,0.0,318356.0,22.0,318356.0,22.0,0,...,0,0,0,1,0,0,1,0,1,0
4,814112,815351,2.0,2.0,1.0,230402.0,17.0,230402.0,17.0,0,...,0,1,0,0,0,0,1,0,0,1

In [33]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Business_Sourced, dtype: int64

In [35]:
from sklearn.preprocessing import MinMaxScaler as MM
scaler = MM()
x_scaled = scaler.fit_transform(x)
x= pd.DataFrame(data = x_scaled, columns=x.columns)
x.head()

,Office_PIN,Applicant_City_PIN,Manager_Grade,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Applicant_Gender_F,...,Manager_Joining_Designation_Other,Manager_Current_Designation_Level 1,Manager_Current_Designation_Level 2,Manager_Current_Designation_Level 3,Manager_Current_Designation_Level 4,Manager_Current_Designation_Level 5,Manager_Status_Confirmation,Manager_Status_Probation,Manager_Gender_F,Manager_Gender_M
0,0.987721,0.828899,0.222222,0.090909,0.111111,0.156245,0.277228,0.156245,0.277228,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.987721,0.828888,0.222222,0.090909,0.111111,0.156245,0.277228,0.156245,0.277228,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.931048,0.828877,0.111111,0.000000,0.000000,0.161952,0.237624,0.161952,0.237624,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.950089,0.795016,0.333333,0.000000,0.000000,0.151850,0.217822,0.151850,0.217822,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.950089,0.796415,0.111111,0.090909,0.111111,0.128967,0.168317,0.128967,0.168317,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [41]:
from sklearn.model_selection import train_test_split as ttt
train_x, test_x, train_y, test_y = ttt(x,y,random_state=56, stratify = y, test_size = 0.3)

In [42]:
train_x.shape, test_x.shape

((6190, 47), (2654, 47))

In [43]:
from sklearn.linear_model import LogisticRegression as LRR

In [44]:
from sklearn.metrics import f1_score

In [45]:
lr = LRR()
lr.fit(train_x, train_y)

C:\Users\ROHIT BISHT\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [46]:
train_pre = lr.predict(train_x)
score = f1_score(train_pre, train_y)
score

0.08147174770039423

In [57]:
from sklearn.metrics import roc_auc_score

In [48]:
test_pre = lr.predict(test_x)
score = f1_score(test_pre, test_y)
score

0.1058941058941059

In [52]:
pd.value_counts(test_pre)

0    2563
1      91
dtype: int64

In [53]:
pd.value_counts(train_pre)

0    6028
1     162
dtype: int64

In [58]:
pd.value_counts(train_y)

0    4069
1    2121
Name: Business_Sourced, dtype: int64

In [60]:
pred_train = lr.predict_proba(train_x)
pred_valid = lr.predict_proba(test_x)

In [61]:
roc_auc_score(train_y, pred_train[:,1])

0.5986153051284485

In [63]:
roc_auc_score(test_y, pred_valid[:,1])

0.5995857067244682